html {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin-top: 20px;
}

/*classes*/

.section {
  margin: 0 auto;
  display: block;
  max-width: 997px;

}

.section_date_time {
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  height: 95px;
  width: 130px;
  float: left;
}

.date {
  display: block;
  height: 25px;
  width: 25px;
  float: right;
  margin: -7px 49px;
}

.time {
  display: block;
  height: 25px;
  width: 25px;
  margin: 0 4px;
}

.section_objects {
  display: block;
  position: relative;;
  left: -23px;
  margin: -4px 0px -35px 0px;
  width: 190px;
}

.circle_big {
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: rgb(183,	218,	246);
  z-index: 1;
}

.circle_small {
  display: inline-block;;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  margin: 6px 5px 5px 6px;
  background: rgb(92,161,215);
  z-index: 1;
}

.line {
  display: inline-block;
  width: 844px;
  border-left: 9px solid rgb(183,	218,	246);
  margin: -20px 0px 0px 0px;
  padding-bottom: 20px;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;

  border-right:7px solid rgb(125,188,235);
  position: relative;
  left: -13px;
}

.section_words {
  display: block;
  width: 782px;
  transition: background-color;
  background: rgb(125,188,235);
  border-radius: 1%;
  float: right;
  padding: 6px;
}

.section_words:hover {
  background-color: rgb(95,147,196);
}

.title {
  width: 350px;
  height: 27px;
  margin: 30px 5px 5px 15px;
  padding: 10px 10px 0px 20px;
  color: white;
  font-size: 25px;
}

.content {
  border-top: .2px solid white;
  color: white;
  margin: 13px 13px;
  line-height: 25px;
  padding: 9px 5px;
}

.date_text {
  font-size: 12px;
  font-family: arial bold, Arial, sans-serif;
  color: rgb(191,207,218);
}

.time_text {
  font-family: arial bold, Arial, sans-serif;
  color: rgb(123,172,223);
  font-size: 38px;
  font-weight: bold;
}

p {
  font-family: arial thin, Arial, sans-serif;
  font-size: 18px;
}

img {
  width: 17px;
  height: 30px;
  margin: 6px 0px 0px 12px;
}

.image{
  display: inline-block;
  position: absolute;
}

.title {
  font-family: arial, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 0;
}


/*media queries*/

/* Portrait and Landscape
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      background-color: red;
    }
}*/

/* Portrait
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      background-color: red;
    }

}*/

/* Landscape 
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    body {
      background-color: red;
    }
}*/
